<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home Page</title>
  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/welcome.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>
<body>
  <div class="main-container">
    <div class="welcome">
      <h2>Welcome to <span> ToDo</span> !</h2>
    </div>
    <div class="reg-sign">
      <h4 class="reg">Register</h4>
      <h4 class="highlight">|</h4>
      <h4 class="sig" onclick="location.href='/login'">Sign in</h4>
    </div>
    <form action="/register" method="POST">
      <input name="email" type="email" placeholder="Email"/>
      <input name="password" type="password" placeholder="Password"/>
      <button class="sub" type="submit">Register</button>
    </form>
  </div>
</body>
</html>
