html {
  margin: 0;
}

// ++++++++++++++++++++++++++++++++++++++++++  HEADER

header h1 {
  margin: 0;
  margin-left: 35px;

  color: #eaeaea;
  grid-area: 1/1/2/2;
}
header i {
  color: #f25f46;
  grid-area: 1/2/2/3;
  justify-self: center;
  font-size: 24px;
}
.header {
  height: 5em;
  background-color: #13678a;
  font-family: 'Nunito', sans-serif;
  width: 100%;
  padding: 10px;
  gap: 10px;

  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr 4fr;
  align-items: center;
  position: fixed;
}
.navBar {
  justify-self: end;
  grid-area: 1/4/2/5;
  width: 82%;
  font-weight: 200;

  display: grid;
  grid-template-rows: auto 2fr;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
  align-items: center;
}

#welcomeTag span {
  padding-left: 10px;
}

#welcomeTag {
  color: #eaeaea;
  grid-area: 1/1/2/3;
  text-align: center;
  padding-top: 5px;
}
#updateBt {
  color: #eaeaea;
  grid-area: 2/1/3/2;
  height: 35px;
  width: 131px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#updateBt:hover {
  box-shadow: 2px 5px 10px #45C4B0;
  font-weight: 500;
}


.sub {
  background-color: #f25f46;
  color: white;
  width: 120px;
  border: none;
  height: 28px;
  cursor: pointer;

  height: 35px;
  width: 131px;
}

.sub:hover {
  box-shadow: 2px 5px 10px #45C4B0;
  font-weight: 500;
}

//++++++++++++++++++++++++++++++++++++++++++  BODY
body {
  margin: 0;
  min-height: 100vh;
  background-color: #EAEAEA;
}
//++++++++++++++++++++++++++++++++++++++++   Main
main {
  height: 100%;
  display: flex;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  flex-direction: row;
}

//+++++++++++++++++++++++++++++++++++  Left SideBar

#leftSideList {
  width: 80%;
  font-size: 20px;
  text-align: center;
  align-items: center;
  justify-items: baseline;
  margin: 150px auto;
  display: grid;
  column-gap: 1em;
  grid-template-columns: 1fr 6fr;
}
.leftSidebar {
  width: 300px;
  min-width: 120px;
  min-height: 100vh;
  background-color: #e4f2e7;
}
.textBox {
  margin-top: 15px;
  margin-bottom: 15px;
}
.dot1 {
  height: 10px;
  width: 10px;
  background-color: #45c4b0;
  border-radius: 50%;
  display: inline-block;
  grid-area: 1/1/2/2;
}
.dot2 {
  height: 10px;
  width: 10px;
  background-color: #ca06ec;
  border-radius: 50%;
  display: inline-block;
  grid-area: 2/1/3/2;
}
.dot3 {
  height: 10px;
  width: 10px;
  background-color: #f10a40;
  border-radius: 50%;
  display: inline-block;
  grid-area: 3/1/4/2;
}
.dot4 {
  height: 10px;
  width: 10px;
  background-color: #1b22ed;
  border-radius: 50%;
  display: inline-block;
  grid-area: 4/1/5/2;
}
.dot5 {
  height: 10px;
  width: 10px;
  background-color: #fbc935;
  border-radius: 50%;
  display: inline-block;
  grid-area: 5/1/6/2;
}

//+++++++++++++++++++++++++++++++++++++++   NEW Task Form
.contents {
  margin: 120px 10px 5px 10px;
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  text-align: start;
}
.submit {
  background-color: #f25f46;
  color: white;
  width: 120px;
  border: none;
  height: 28px;
  cursor: pointer;
}
.submit:hover {
  box-shadow: 2px 5px 10px #45C4B0;
  font-weight: 500;
}
.newTask {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 22px;
  color: #4e4e4e;

}
.taskForm {
  display: flex;
  width: 95%;
  padding-bottom: 20px;
  padding-left: 24px;
  flex-direction: column;
  margin: auto;
}
.taskForm textarea {
  height: 2em;
  background: transparent;
  margin-top: 1px;
  border: none;
  border-bottom: solid 2px #13678a;
  justify-items: center;
  resize: none;
}

.taskForm textarea:focus {
  outline: none;
}

#pushPlus {
  margin: 40px 30px;
  padding-left: 17px;
  color: #4e4e4e;
}

.update {
  margin: 0 20px 30px 20px;
  padding-bottom: 20px;
  padding-left: 24px;
}

input {
  height: 2em;
  background: transparent;
  margin-top: 1px;
  border: none;
  border-bottom: solid 2px #13678a;
  justify-items: center;
  resize: none;
}

.update-profile {
  font-weight: 500;
  font-size: 22px;
  color: #4e4e4e;
}

.form {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

//+++++++++++++++++++++++++++++++++++++++++ Article boxes
article {
  width: 90%;
  padding-left: 10px;
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
  margin: auto;
  margin-top: 20px;
  height: 5em;
  border: none;
  background-color: #D9D9D9;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 10fr 1fr 1fr 1fr;
  text-align: start;
}

article i:hover {
  text-shadow: 2px 5px 10px #45C4B0;
  color: #F25F46;
}

.taskArticle {
  padding-left: 20px;
}


.taskArticle:hover {
  box-shadow: 2px 5px 10px #45C4B0;
}
.dropdown-content {
  position: absolute;
  z-index: 99999;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  background-color: #e4f2e7;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-left: 50em;
  padding: 25px;
  gap: 20px;
  visibility: hidden;
}
.dropdown-content span {
  color: #012030;
  cursor: pointer;
}

.dropdown-content span:hover {
  color: #F25F46;
  font-weight: 500;
}

.fa-regular.fa-circle-xmark {
  opacity: 0;
  transition: all 500ms ease-in-out;
  display: flex;
  justify-content: flex-end;
}
.fa-regular.fa-folder {
  opacity: 0;
  transition: all 500ms ease-in-out;
  display: flex;
  justify-content: flex-end;
}

.taskArticle:hover > .fa-circle-xmark {
  display: block;
  opacity: 1.0;
  color: #45c4b0;
  display: flex;
  justify-content: flex-end;
}

.fa-regular.fa-circle-xmark:hover {
  color: #13678A;
  display: flex;
  justify-content: flex-end;
}

.taskArticle:hover > .fa-folder {
  display: block;
  opacity: 1.0;
  color: #45c4b0;
  display: flex;
  justify-content: flex-end;
}

.fa-regular.fa-folder:hover {
  color: #13678A;
  display: flex;
  justify-content: flex-end;
}

.fa-regular.fa-folder.clicked {
  color: #f25f46;
  display: flex;
  justify-content: flex-end;
}

#Watch {
  border-left: #45c4b0 10px solid;
}

#Eat {
  border-left: #ca06ec 10px solid;
}

#Read {
  border-left: #f10a40 10px solid;
}

#Buy {
  border-left: #1b22ed 10px solid;
}

#Other {
  border-left: #fbc935 10px solid;
}

.count {
  padding-left: 10px;
}
//+++++++++++++++++++++++++++++++++++++++++++++++
//+++++++++++++ Change The Display Size +++++++++
//+++++++++++++++++++++++++++++++++++++++++++++++

@media only screen and (min-width: 600px) {
  .header {
    display: grid;
    grid-template-columns: 1fr 0.5fr 3fr 7fr;
    align-items: center;
    gap: 20px;
  }
  header h1 {
    grid-area: 1/1/2/2;
    padding-left: 30px;
  }
  header i {
    grid-area: 1/2/2/3;
    font-size: 40px;
  }

  article i {
    font-size: 30px;
  }

  article label {
    font-size: 1.4em;
  }
  article:hover {
    box-shadow: 3px 3px gray;
  }
  .navBar {
    grid-area: 1/4/2/5;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    column-gap: 10px;
    margin-right: 30px;
  }
  #welcomeTag {
    display: flex;
    grid-area: 1/1/2/2;
  }
  #updateBt {
    grid-area: 1/2/2/3;
  }
  #logOut {
    grid-area: 1/3/2/4;
  }
  #leftSideList {
    width: 60%;
  }
  .dropdown-content span {
    font-size: 1.2em;
  }
}
